#root {
	max-width: 960px;
	margin: 0 auto;
	/*background-color: lightblue;*/
	background-color: #effbff;
}

#title {
	width: 100%;
	text-align: center;
}

#search {
	box-sizing: border-box;
	width: 100%;
	height: 55px;
	font-size: 18px;
}

.ui-autocomplete {
	box-sizing: border-box;
	max-height: 150px;
	max-width: 960px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
}

.ui-menu .ui-menu-item {
	cursor: pointer;
}

.code {
	font-family: monospace;
	white-space: pre;
	margin: 0 0.4em 0.4em 0.4em;
	border: 1px solid lightblue;
	border-radius: 10px;
	padding: 0.4em;
	display: inline-block;
}

.code .lineNumber {
	display: inline-block;
	width: 2em;
	user-select: none;
}

#calls .code .highlight-line {
	background-color: #d9ff9f;
}

.codeDefinition .code {
	margin-bottom: 0;
}

#calls .file:first-of-type {
	border-top: none;
}

#calls .file {
	border-top: 2px solid #90cfe3;
}

#calls .file > h2 {
	margin-block-start: 0.2em;
	margin-block-end: 0.2em;
}

.call {
	margin-top: 1em;
	box-sizing: border-box;
	/* border: 1px solid black; */
}

.call:first-of-type {
	margin-top: 0;
}

.ui-helper-hidden-accessible {
	display: none;
}

a#option-links {
	cursor: pointer;
	text-decoration: underline;
}

#options {
	float: right;
	margin: 1em;
	border: 1px solid #90cfe3;
	padding: 0.3em;
}

#introbox {
	padding: 0.5em;
	margin: 0.5em;
	border: 1px dotted black;
	display: inline-block;
}

#introbox p {
	margin: 0.5em 0;
}

#introbox p:first-of-type {
	margin-top: 0;
}

#introbox p:last-of-type {
	margin-bottom: 0;
}
